/* build time:Sun Jan 18 2026 16:53:03 GMT+0800 (中国标准时间)*/
.header-wrapper:not(.has-cover){background:0 0!important;backdrop-filter:none!important}@media screen and (max-width:768px){.header-wrapper:not(.has-cover){background:0 0!important}}
/* rebuild by neat */